footer {
    background-color:#FFFFFF;
    height:60px;
    width:100%;
    display:flex;
    border-top:1px solid;
    border-color:#CCCCCC;
    position:fixed;
    bottom:0px;
    text-align:center;
    align-items:center;
}

p {
    vertical-align:center;
}